/* body {
  background-image: url(https://images.unsplash.com/photo-1713464238868-666e916225af?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
} */

img {
  max-width: 100%;
}

footer {
  text-align: center;
  min-height: 100px;
  background-color: rgb(0, 12, 82);
}

#carouselImg {
  max-height: 600px;
}
